/*========= FONT FAMILY =========*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap");

/*========= CSS VARIABLE =========*/
:root {
  --main-font: "Poppins";
  --main-color: #3175f9;
  --second-color: #2b2d34;
  --bg-color: #1d1d20;
  --text-dimmed: #848484;
  --light-text: #fff;
}

/*========= CSS RESET =========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

.active {
  color: var(--main-color);
  font-size: 32px;
  font-weight: 600;
}

/*========= MAIN STYLE =========*/

/* <<<<< Header >>>>> */
header {
  padding: 20px;
  /* padding-left: 25px; */
  position: fixed;
  height: 100vh;
  width: 60px;
  left: 0;
  background-color: var(--main-color);
  transition: 300ms ease-in-out;
  overflow: hidden;
}

header nav {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
  gap: 30px;
}

header nav .logo a {
  color: #fff;
}

header nav li a {
  display: flex;
  align-items: center;
  gap: 30px;
}

header nav li a i,
span {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

header nav li a:hover span {
  text-decoration: underline;
}

header.active {
  width: 230px;
}

/* <<<<< Login Page >>>>> */
.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-page {
  overflow: hidden;
  border-radius: 10px;
  height: 500px;
  width: 60%;
  background-color: var(--bg-color);
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.login-page .input-container {
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.login-page .input-container h2 {
  color: var(--light-text);
  font-weight: 500;
  font-size: 20px;
}

.login-page .input-container h1 {
  color: var(--light-text);
  font-weight: 500;
  font-size: 25px;
}

.login-page .input-container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-page .input-container form .input-box {
  display: flex;
  flex-direction: column;
}

.login-page .input-container form .input-box label {
  color: var(--text-dimmed);
  font-size: 15px;
}

.login-page .input-container form .input-box .content {
  display: grid;
  grid-template-columns: 15% 85%;
  border-radius: 8px;
  border: 2px solid var(--text-dimmed);
  padding: 5px 5px;
}

.login-page .input-container form .input-box .content i {
  color: var(--main-color);
  padding: 5px 10px;
  font-size: 12px;
}

.login-page .input-container form .input-box .content input {
  color: var(--light-text);
  background-color: transparent;
  border: none;
  width: 100%;
}

.login-page .input-container form .input-box .content input:focus {
  outline: none;
}

.login-page .input-container form input[type="submit"] {
  cursor: pointer;
  background-color: var(--main-color);
  color: var(--light-text);
  font-weight: 500;
  border: none;
  padding: 10px 0;
  border-radius: 5px;
  transition: 100ms ease;
}

.login-page .input-container form input[type="submit"]:hover {
  background-color: #5188f7;
}

.login-page .input-container p {
  color: var(--light-text);
  font-size: 14px;
}

.login-page .input-container p a {
  color: var(--main-color);
}

.login-page .input-container p a:hover {
  text-decoration: underline;
}

.login-page .img-container {
  background: url(../Assets/img/drug-pict.png) no-repeat center;
  background-size: cover;
  background-color: linear-gradient(134.03deg, rgba(0, 0, 0, 0) 20.34%, var(--bg-color) 81.64%);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* <<<<< Dasboard Page >>>>> */
#dashboard {
  width: 100%;
  margin: 0 auto;
}

#dashboard .dashboard-header {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
}

#dashboard .dashboard-header h1 {
  font-size: 32px;
  color: var(--light-text);
  font-weight: 500;
}

#dashboard .dashboard-header .admin-profile {
  display: flex;
  align-items: center;
  font-size: 22px;
  color: var(--light-text);
  font-weight: 500;
}

#dashboard .dashboard-header .admin-profile .photo {
  width: 70px;
  height: 70px;
  background-color: var(--main-color);
  border-radius: 100%;
  margin-right: 10px;
}

#dashboard .dashboard-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
}

#dashboard .all-data p {
  color: var(--light-text);
  font-size: 24px;

  margin-bottom: 20px;
}

#dashboard .dashboard-data .data-card {
  display: flex;
  gap: 30px;
}

#dashboard .dashboard-data .data-card .data {
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: 10px;
  padding: 0 35px;
  width: 355px;
  height: 110px;
  color: var(--light-text);
  background-color: var(--main-color);
}

#dashboard .dashboard-data .data-card .data .data-title {
  margin-top: 15px;
  margin-left: 20px;
  line-height: 25px;
}

#dashboard .dashboard-data .data-card .data .data-title p {
  font-size: 18px;
}

#dashboard .dashboard-data .data-card .data .data-icon {
  font-size: 2rem;
  color: var(--light-text);
  width: 70px;
  height: 70px;
  background-color: var(--second-color);
  border-radius: 100%;
  text-align: center;
  line-height: 70px;
}

#dashboard .all-table {
  margin-top: 100px;
}

#dashboard .all-table h2 {
  text-align: center;
  color: var(--light-text);
  margin-bottom: 20px;
  font-weight: 500;
}

#dashboard .dashboard-table {
  border-radius: 10px;
  margin: 0 auto;
  width: 73%;
  padding: 30px;
  height: 90px;
  background-color: var(--second-color);
}

#dashboard .dashboard-table .number {
  display: flex;
  align-items: center;
  margin-top: -25px;
}

#dashboard .dashboard-table .number h2 {
  margin-top: 20px;
  font-size: 30px;
  color: var(--main-color);
}

#dashboard .dashboard-table .table .number .line {
  display: block;
  height: 40px;
  margin-left: 30px;
}

#dashboard .dashboard-table .table .table-content {
  display: flex;
}
/*========= RESPONSIVE =========*/
/* Tablet */
@media screen and (max-width: 820px) {
  /* Login Page */
  .login-page {
    width: 90%;
    grid-template-columns: 1fr;
  }

  .login-page .img-container {
    display: none;
  }
}

/* Mobile S */
@media screen and (max-width: 320px) {
  /* Login Page */
  .login-page {
    width: 100%;
    height: 100vh;
  }
}

/*========= ANIMATION =========*/
